@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
}

.nav-container,
.main-container {
  height: 100vh;
  padding: 20px 15px;
}

.nav-container {
  background-color: #d4d4d4;
}

nav ul {
  list-style-type: none;
}
